* {
    font-family: 'Old Standard TT', serif;
}

#todos ul {
    list-style-type: none;
}

#todos li {
    text-align: left;
    display: inline;
    cursor:pointer;
}

#todos li button {
    float: right;
}

.done {
    text-decoration: line-through;
}

.input {
    padding: 2px 5px; 
    position: absolute;
    top: 15px;
    left: 10px;
}